body {
    display: flex;
    justify-content: center;
}

.border {
    background-color: gray;
    padding: 2px;
    text-align: center;
    color: white;
    width: fit-content;
}

p{
    margin: 0px;
    padding: 0px;
}

#canvasImg {
    border: 1px solid black;
    height: 500px;
    width: 360px;
    background-color: white;
}