
.wrapper{
    text-align: center;
}

.drop {
    position: relative;
    animation-name: drop;
    animation-fill-mode: forwards;
    padding: 20px;
    animation-duration:4s;  
  } 
  @keyframes drop {
    from {top: -200px;}
    to {top: 0px;}
  }