.M_box{
    background-color: gray;
    height: 500px;
    width: 800px;
    margin: auto;
    border: 5px unset black;  
}
.box1{
    background-color: brown;
    height: 100px;
    width: auto;
}
.box3{
    background-color: black;
    height: 400px;
    width: 200px;
}
.box4{
    background-color: brown;
    height: 100px;
    width: 300px;
    margin: auto;
}
.sub_box1{
    background-color: black;
    height:100px;
    width: 200px;  
}
.sub_box3{
    background-color: blue;
    height: inherit;
}
