.M-box{
    background-color: aqua;
    height: 400px;
    width: 500px;
    margin:auto;
    border: 2px solid black;
}
.box1{
    background-color: black;
    height: 20%;
    width: 100%;
}
/*.sub-box1{
    background-color: blue;
    height: 100%;
    width: 20%;
}*/
